<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input placeholder="User Name" type="text" th:field="*{name}">
        <input placeholder="Email" type="email" th:field="*{email}">
        <input placeholder="Password" type="password" th:field="*{password}">
        <select name="roles" multiple>
            <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
        </select>
        <input type="submit" value="Register">
    </form>
</body>
</html>